.articleContainer {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 4rem 6rem;
  background-color: var(--contBg);
}
.articleTitle {
  font-size: 4rem;
}
.publishDate {
  background-color: black;
  color: #ccc;
  padding: 0.4rem;
}
.time {
  background-color: black;
  color: #ccc;
  padding: 0.4rem;
  margin: 0rem 1rem;
}
.cover {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.content code {
  font-size: 1.3rem;
}

/* blog footer */

.blogFooter {
  margin-top: 5rem;
  padding: 4rem 0;
  background-color: #fff;
}

.blogFooter .headingFooter {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.blogFooter .subHeader {
  text-align: center;
  font-size: 1.5rem;
  color: var(--headline);
  font-weight: 500;
  padding: 0.4rem 1rem;
}

.flexContainer {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 1250px) {
  .cover {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .articleContainer {
    padding: 2rem 2rem;
    background-color: var(--contBg);
  }
  .articleTitle {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
  .publishDate {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  .time {
    padding: 0.4rem;
    font-size: 0.9rem;
    display: inline-block;
    margin: 1rem 0rem;
  }
  .publishDate {
    padding: 0.4rem;
    margin-right: 1rem;
    font-size: 0.9rem;
  }
  .cover {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1000px) {
  .flexContainer {
    justify-content: center;
  }
  .blogFooter {
    margin-top: 4rem;
    padding: 4rem 0;
  }

  .blogFooter .subHeader {
    text-align: center;
    font-size: 1rem;
    color: var(--headline);
    font-weight: 500;
    padding: 0.4rem 1rem;
  }

  .content code {
    font-size: 1rem;
  }
}

/* pich Container */

.pichContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 1.8rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgb(44, 44, 44);
  border-radius: 3px;
}

.aboutMe {
  width: 50%;
}
.pichActions {
  width: 50%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.aboutHeader {
  display: flex;
  align-items: center;
}
.profileImg {
  border: 1px solid black;
}

.details {
  margin-left: 1rem;
}
.details span {
  display: block;
}
.name {
  font-size: 1.4rem;
  font-weight: 500;
}
.profession {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.pichActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: var(--contBg);
  border-radius: 3px;
}
.pichActions h2 {
  margin: 0.4rem;
}
.pichActions button {
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .aboutMe {
    width: 100%;
  }
  .pichActions {
    width: 100%;
  }
  .pichMessage {
    text-align: center;
    font-size: 0.9rem;
  }
  .pichActions button {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.6rem;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 700px) {
  .name {
    font-size: 0.9rem;
  }
  .profession {
    font-size: 0.7rem;
  }
  .pichActions {
    padding: 0.8rem 0.8rem;
  }
  .pichActions h2 {
    font-size: 1.5rem;
  }
  .pichActions h2 {
    font-size: 0.9rem;
  }
  .content img {
    width: -webkit-fill-available;
  }
}
