@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");

:root {
  --bodyBg: #fff;
  --contBg: #cdccd2;
}

html {
  background-color: rgb(5, 37, 44);
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  margin: auto;
  width: 75vw;
  background-color: var(--bodyBg);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1000px) {
  body {
    width: 100vw;
    padding: 0rem;
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-name {
  font-size: 2.1rem;
}

nav {
  position: fixed;
  width: 73.5vw;
  background-color: var(--bodyBg);
  z-index: 5;
  margin-top: 0;
  top: 0%;
}

@media screen and (max-width: 1000px) {
  nav {
    width: 100vw;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav ul li {
}

main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 4rem 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--contBg);
}

@media screen and (max-width: 1100px) {
  main {
    padding: 3rem 3rem;
  }
}

/* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace; */

footer {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  background-color: rgb(44, 44, 44);
  color: #ccc;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a h4 {
  margin: 0;
  margin-left: 0.3rem;
}

@media screen and (max-width: 400px) {
  main {
    padding: 2rem 1.5rem;
  }
}
