@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");

:root {
  --bodyBg: #fff;
  --contBg: rgb(232, 229, 251);
  --headline: #2f2f2f;
  --subHeadline: #5f6c7b;
  --para: #0f151e;
  --button: rgb(33, 32, 32);
  --headerSize: 2.4rem;
  --headerWt: 700;
}

html {
  background-color: rgb(44, 44, 44);
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  margin: auto;
  width: calc(100vw - 10%);
  border: 2px solid black;
  background-color: var(--contBg);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1000px) {
  body {
    width: 100vw;
    padding: 0rem;
    margin: 0;
  }
}

p {
  color: var(--para);
  line-height: 1.5rem;
  cursor: default;
  font-weight: 500;
  font-size: 1.1rem;
}
button {
  background-color: var(--button);
  color: #fffffe !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-name {
  font-size: 2.1rem;
  color: var(--headline);
}

nav {
  position: fixed;
  left: 6%;
  right: 6%;
  background-color: var(--bodyBg);
  z-index: 5;
  margin-top: 0;
  top: 0%;
  border: 2px solid var(--contBg);
  border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 1000px) {
  nav {
    left: 0;
    right: 0;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  color: var(--button);
}

nav ul li {
}

main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 4rem 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 229, 251);
}

@media screen and (max-width: 1100px) {
  main {
    padding: 3rem 3rem;
  }
}

/* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace; */

footer {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  color: #0f151e;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a h4 {
  margin: 0;
  margin-left: 0.3rem;
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem 0.8rem;
  }
  .nav-item {
    font-size: 1rem;
  }
}
