.titleContainer {
  margin-top: 10%;
}

@media screen and (max-width: 1100px) {
  .titleContainer {
    margin-top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .titleContainer {
    margin-top: 30%;
  }
}

.title {
  font-weight: bold;
  font-size: 4rem;
}

.secTitle {
  font-weight: bold;
  font-size: 4rem;
  border-bottom: 5px solid #000;
  padding-bottom: 0.6rem;
}

.subTitle {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* about */

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.aboutDescription {
  font-weight: 500;
  line-height: 1.8rem;
  color: #594a4e;
}

.exploreButton {
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 0.2rem 0.5rem;
}
.exploreButton p {
  margin-right: 0.7rem;
}

.explore {
  font-size: 10rem;
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  box-sizing: border-box;
  width: 280px;
  padding: 0.9rem;
  margin: 2rem;
}

.cardHeader {
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 500;
}
.card .date,
.readTime,
.tag {
  font-size: 0.9rem;
  padding: 0.3rem;
}

.cardBody {
  font-size: 1rem;
}

.readButton {
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 0.2rem 0.5rem;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
  .secTitle {
    font-size: 2.5rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .flexContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
  .secTitle {
    font-size: 1.6rem;
    margin-top: 0.7rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .aboutDescription {
    font-weight: 500;
    line-height: 1.6rem;
  }
  .exploreButton {
    width: 100%;
    justify-content: center;
  }
}

/* subscribe-container */

.subscribeContainer {
  padding: 3rem 0rem;
  background-color: rgb(44, 44, 44);
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgb(44, 44, 44);
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribeContainer .formContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscribeForm input {
  height: 40px;
  width: 400px;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0rem 0.8rem;
  border-radius: 0.5rem;
}
.subscribeForm button {
  height: 40px;
  margin-left: 30px;
  width: 180px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #66c074;
  font-weight: 800;
  color: #fff;
}

.message {
  margin-top: 1.2rem;
  text-align: center;
}

.errorMessage {
  color: rgb(239, 54, 54);
  font-weight: 700;
}

.successMessage {
  color: #66c074;
  font-weight: 700;
}

@media screen and (max-width: 748px) {
  .subscribeForm input {
    width: 200px;
    font-size: 0.9rem;
  }
  .subscribeForm button {
    margin-left: 30px;
  }
}

@media screen and (max-width: 479px) {
  .subscribeForm button {
    margin-left: 0px;
    margin-top: 1rem;
  }
  .subsHeading {
    font-size: 1rem;
    text-align: center;
  }
}
